.post {
    background-color: white;
    max-width: 600px;
    /* max-height: 1200px; */
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post__image {
    width: 100%;
    object-fit: contain;
}

.post__text {
    font-weight: normal;
    padding: 10px;
}

.post__header {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    margin: 5px;
    /* padding-right: 5px; */
}
.post__headerName {
    margin-left: 8px;
    /* margin-top: 80px; */
    padding-top: 8px;
}
.post__commentBox {
    display: flex;
    margin-top: 10px;
}

.post__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post__comments {
    padding: 20px;
}

.post__button  {
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
    color: #6082a3;
    background-color: transparent;
    cursor: pointer;
}